
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required><br><br>
            <input type="password" name="password" placeholder="Password" required> <br><br>
            <button type="submit">Login</button>
        </form><br><br>
        <p><center>Don't have an account? <a href="{{ url_for('register') }}">Register</a></center></p>
    </div>
</body>
</html>
